body {
    font-family: Helvetica, Arial, sans-serif;
    cursor: url(/public/SVG/cursor.svg), default;
    transition: cursor 2s
}

h2 {
    font-weight: 300;
    margin: 0;
}

h3 {
    margin: 0;
    color: #CCCCCC;
    font-weight: 300;
}